body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
/* Dark mode */
:root{
    --primary-color:#ffff;
    --secondary-color:rgb(136, 130, 130);
    --btn:#cfc510bf;
}
.dark{
    --primary-color:rgb(78, 49, 49);
    --secondary-color:#fff;
    --btn:#113353;
}
.button{
    height: 28px;
    width:50px;
    border: none;
    border-radius: 20px;
    background-color:#3B708E;
}
#icon{
    font-size: 20px;
    color: white;
}
.mode{
    position: absolute;
    top: 12px;
    left: 85%;
}
/* end Dark mode */
/* Nav */
nav{
    background-color: #3B708E;
    height: 50px;
    box-shadow: 0px 4px 15px #000000;
    position: sticky;
    top: 0;
   
}
ul{
    margin: 0 ;
    padding: 16px;
    margin-left:34%;
}
li{
    list-style-type: none;
    display: inline;
}
li a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
    font-weight: 400;
}

.brand{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 40px;
}
/* End Nav */
/* Header */
header{
    background-image: url('../Img/Bg\ header.png');
    height: 620px;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
#texth1{
    font-size: 5rem;   
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#btnmore{
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: green;
    color:white;
    text-decoration: none;
    font-weight: bold;
} 
#btnmore:hover{
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    color: #000000;
    background-color: green;
    transition: all 0.4s;
}
/* End Header */
/* Cards */
main{
    height: 550px;
}
.container-cards{
display: flex;
justify-content: space-evenly;
}
#tema{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.body-card{
    background-color: #6B6262;
    width: 220px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
}
#image-card {
    width:80%;
   margin:20px;
}
.title,#icon-card{
    margin: 10px;
}
/* End Cards */
