body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
/* Dark mode */
:root{
    --primary-color:#ffff;
    --secondary-color:rgb(136, 130, 130);
    --btn:#fff;
}
.dark{
    --primary-color:rgb(126, 114, 114);
    --secondary-color:#fff;
    --btn:#10385e;
}
.button{
    height: 28px;
    width:50px;
    border: none;
    border-radius: 20px;
    background-color: var(--btn);
}
#icon{
    font-size: 20px;
}

/* end Dark mode */

nav{
    background-color: #3B708E;
    height: 50px;
    box-shadow: 0px 4px 15px #000000;
    position: sticky;
    top: 0;
   
}
ul{
    margin: 0 ;
    padding: 16px;
    margin-left: 30%;
}
li{
    list-style-type: none;
    display: inline;
}
li a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
    font-weight: 400;
}

.brand , img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 40px;
}
header{
    
    background-image: url('../Img/Bg\ header.png');
    height: 620px;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
#texth1{
    font-size: 5rem;   
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* font rosario */
    /* stroke:1px  #000000; */
   
}
#btnmore{
    border: 2px solid;
    padding: 14px 30px;
    border-radius: 40px;
    border-color: green;
    width: 40px;
    color:white ;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-weight: bold;
}
/* #btnmore > img{
    width: 20px;
    height: 20px;
 
} */
#btnmore:hover{
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    color: #000000;
    padding: 16px 35px;
    width:50px;
    background-color: green;
    transition: all 0.5s;
}

.container-cards{
    justify-content: space-between;
    display: block;
}
#tema{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.body-card{
    height: 300px;
    width: 100px;
    background-color: #6B6262;
}
