body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #3B708E;
    height: 70px;
    box-shadow: 12px 2px 8px #000000;
}
ul{
    padding: 26px;
    margin: 0;
    margin-left: 40%;
}
li{
    list-style-type: none;
    display: inline;
}
li a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
}
.brand , img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 4px;
    left: 40px;
}
header{
    height: 880px;
    width: 100vmin; 
}